body{
    background-color: #4C4A33;
    color: #fff;
    padding: 10vw;
}

h1{
    font-family: "Playfair Display", serif;
    font-size: 4em;
    font-weight: 500;
    color: #A9BA9F;
}

h2{
    font-family: "Playfair Display", serif;
    font-size: 2.5em;
    font-weight: 400;
    color: #fff;
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
    font-size: 1em;
}

#firepaastribe{
    display: flex;
    justify-content: space-between;
    width: 100%;
margin-bottom: 5vh;
}
.fireblok{
    width: 22%;
}
.fireblok h1{
    margin-bottom: 2vh;
    font-size: 4em;
}

a{
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.ref{
    font-size: 0.8em;
}
.marginauto{
    text-align: center;
}
#vidtxt{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#vidtxt img{
    width: 70%;
    object-fit: cover;
}
#vidtxt p{
    width: 25%;
}